# Project : Crime Analysis in Chicago by Facebook Prophet

In [1]:
## loading the library

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random

from fbprophet import Prophet

ModuleNotFoundError: No module named 'fbprophet'

In [2]:
# load the dataset

dataset1 = pd.read_csv('Chicago_Crimes_2005_to_2007.csv', error_bad_lines=False)
dataset2 = pd.read_csv('Chicago_Crimes_2008_to_2011.csv', error_bad_lines=False)
dataset3 = pd.read_csv('Chicago_Crimes_2012_to_2017.csv', error_bad_lines=False)

b'Skipping line 533719: expected 23 fields, saw 24\n'
b'Skipping line 1149094: expected 23 fields, saw 41\n'

There is some problem loading this dataset.That's why here use 'error_bad_lines'.This can reduce the problem on loading the dataset.It is shown that there are some problem in the dataset and it skit all of this.

In [3]:
dataset1.head()

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,0,4673626,HM274058,04/02/2006 01:00:00 PM,055XX N MANGO AVE,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,...,45.0,11.0,26,1136872.0,1936499.0,2006,04/15/2016 08:55:02 AM,41.981913,-87.771996,"(41.981912692, -87.771996382)"
1,1,4673627,HM202199,02/26/2006 01:40:48 PM,065XX S RHODES AVE,2017,NARCOTICS,MANU/DELIVER:CRACK,SIDEWALK,True,...,20.0,42.0,18,1181027.0,1861693.0,2006,04/15/2016 08:55:02 AM,41.775733,-87.611920,"(41.775732538, -87.611919814)"
2,2,4673628,HM113861,01/08/2006 11:16:00 PM,013XX E 69TH ST,051A,ASSAULT,AGGRAVATED: HANDGUN,OTHER,False,...,5.0,69.0,04A,1186023.0,1859609.0,2006,04/15/2016 08:55:02 AM,41.769897,-87.593671,"(41.769897392, -87.593670899)"
3,4,4673629,HM274049,04/05/2006 06:45:00 PM,061XX W NEWPORT AVE,0460,BATTERY,SIMPLE,RESIDENCE,False,...,38.0,17.0,08B,1134772.0,1922299.0,2006,04/15/2016 08:55:02 AM,41.942984,-87.780057,"(41.942984005, -87.780056951)"
4,5,4673630,HM187120,02/17/2006 09:03:14 PM,037XX W 60TH ST,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,ALLEY,True,...,13.0,65.0,18,1152412.0,1864560.0,2006,04/15/2016 08:55:02 AM,41.784211,-87.716745,"(41.784210853, -87.71674491)"

In [4]:
dataset2.head()

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,388,4785,HP610824,10/07/2008 12:39:00 PM,000XX E 75TH ST,0110,HOMICIDE,FIRST DEGREE MURDER,ALLEY,True,...,6.0,69.0,01A,1178207.0,1855308.0,2008,08/17/2015 03:03:40 PM,41.758276,-87.622451,"(41.758275857, -87.622451031)"
1,835,4786,HP616595,10/09/2008 03:30:00 AM,048XX W POLK ST,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,...,24.0,25.0,01A,1144200.0,1895857.0,2008,08/17/2015 03:03:40 PM,41.870252,-87.746069,"(41.87025207, -87.746069362)"
2,1334,4787,HP616904,10/09/2008 08:35:00 AM,030XX W MANN DR,0110,HOMICIDE,FIRST DEGREE MURDER,PARK PROPERTY,False,...,18.0,66.0,01A,1157314.0,1859778.0,2008,08/17/2015 03:03:40 PM,41.770990,-87.698901,"(41.770990476, -87.698901469)"
3,1907,4788,HP618616,10/10/2008 02:33:00 AM,052XX W CHICAGO AVE,0110,HOMICIDE,FIRST DEGREE MURDER,RESTAURANT,False,...,37.0,25.0,01A,1141065.0,1904824.0,2008,08/17/2015 03:03:40 PM,41.894917,-87.757358,"(41.894916924, -87.757358147)"
4,2436,4789,HP619020,10/10/2008 12:50:00 PM,026XX S HOMAN AVE,0110,HOMICIDE,FIRST DEGREE MURDER,GARAGE,False,...,22.0,30.0,01A,1154123.0,1886297.0,2008,08/17/2015 03:03:40 PM,41.843826,-87.709893,"(41.843826272, -87.709893465)"

In [5]:
print('1st dataset row and column: ' , dataset1.shape)
print('2nd dataset row and column: ' , dataset2.shape)
print('3rd dataset row and column: ' , dataset3.shape)

1st dataset row and column:  (1872343, 23)
2nd dataset row and column:  (2688710, 23)
3rd dataset row and column:  (1456714, 23)

In [6]:
1872343 + 2688710 + 1456714

6017767

It is a huge dataset.If we combine all of the dataset together then amount is 6 Million.

In [7]:
dataset1.isnull().sum()

Unnamed: 0                 0
ID                         0
Case Number                0
Date                       0
Block                      0
IUCR                       0
Primary Type               0
Description                0
Location Description      25
Arrest                     0
Domestic                   0
Beat                       0
District                   5
Ward                      15
Community Area           349
FBI Code                   0
X Coordinate            9154
Y Coordinate            9154
Year                       0
Updated On                 0
Latitude                9154
Longitude               9154
Location                9154
dtype: int64

In [9]:
dataset3.isnull().sum()

Unnamed: 0                  0
ID                          0
Case Number                 1
Date                        0
Block                       0
IUCR                        0
Primary Type                0
Description                 0
Location Description     1658
Arrest                      0
Domestic                    0
Beat                        0
District                    1
Ward                       14
Community Area             40
FBI Code                    0
X Coordinate            37083
Y Coordinate            37083
Year                        0
Updated On                  0
Latitude                37083
Longitude               37083
Location                37083
dtype: int64

In [10]:
dataset2.isnull().sum()

Unnamed: 0                  0
ID                          0
Case Number                 6
Date                        0
Block                       0
IUCR                        0
Primary Type                0
Description                 0
Location Description      291
Arrest                      0
Domestic                    0
Beat                        0
District                   83
Ward                       63
Community Area           1455
FBI Code                    0
X Coordinate            28645
Y Coordinate            28645
Year                        0
Updated On                  0
Latitude                28645
Longitude               28645
Location                28645
dtype: int64

All the dataset have different in their missing columns and number.

In [11]:
dataset1.head().transpose()

,0,1,2,3,4
Unnamed: 0,0,1,2,4,5
ID,4673626,4673627,4673628,4673629,4673630
Case Number,HM274058,HM202199,HM113861,HM274049,HM187120
Date,04/02/2006 01:00:00 PM,02/26/2006 01:40:48 PM,01/08/2006 11:16:00 PM,04/05/2006 06:45:00 PM,02/17/2006 09:03:14 PM
Block,055XX N MANGO AVE,065XX S RHODES AVE,013XX E 69TH ST,061XX W NEWPORT AVE,037XX W 60TH ST
IUCR,2825,2017,051A,0460,1811
Primary Type,OTHER OFFENSE,NARCOTICS,ASSAULT,BATTERY,NARCOTICS
Description,HARASSMENT BY TELEPHONE,MANU/DELIVER:CRACK,AGGRAVATED: HANDGUN,SIMPLE,POSS: CANNABIS 30GMS OR LESS
Location Description,RESIDENCE,SIDEWALK,OTHER,RESIDENCE,ALLEY
Arrest,False,True,False,False,True
Domestic,False,False,False,False,False
Beat,1622,321,321,1633,822
District,16,3,3,16,8
Ward,45,20,5,38,13
Community Area,11,42,69,17,65
FBI Code,26,18,04A,08B,18
X Coordinate,1.13687e+06,1.18103e+06,1.18602e+06,1.13477e+06,1.15241e+06
Y Coordinate,1.9365e+06,1.86169e+06,1.85961e+06,1.9223e+06,1.86456e+06
Year,2006,2006,2006,2006,2006
Updated On,04/15/2016 08:55:02 AM,04/15/2016 08:55:02 AM,04/15/2016 08:55:02 AM,04/15/2016 08:55:02 AM,04/15/2016 08:55:02 AM
Latitude,41.9819,41.7757,41.7699,41.943,41.7842
Longitude,-87.772,-87.6119,-87.5937,-87.7801,-87.7167
Location,"(41.981912692, -87.771996382)","(41.775732538, -87.611919814)","(41.769897392, -87.593670899)","(41.942984005, -87.780056951)","(41.784210853, -87.71674491)"